body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  display: flex;
  margin: auto;
  text-align: center;
}

.value {
  font-size: 25px;
}

.led {
  margin: auto;
}

.chanel {
  flex: 1;
}

.chart {
  height: 300px;
  display: inline-block;
  width: 400px;
}
